<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let producto of productos | async; trackBy: trackByFn">
      <ion-avatar slot="start">
        
      </ion-avatar>
      <ion-label (click)="showProducto(producto.uid)">
          <h2>{{producto.nombre}}</h2>
          <p> {{producto.precio}}</p>
          <ion-button> COMPRAR</ion-button>
      </ion-label>
    </ion-item>


  </ion-list>
  
   
    


  


</ion-content>
